*{
    box-sizing: border-box;
    color: white;
}

body{
    background: linear-gradient(to bottom right, #021a33, #07325e);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER*/
header{
    display: flex;
    justify-content: center;
}
h1{
    padding: 0.1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color: transparent;
}
a{
    text-decoration: none;
}

/*MAIN*/
main{
    display: flex;
    margin: 1em;
}
section{
    padding: 1.5em;
    margin: 0.5em;
    border-radius: 2em;
    border: 2px solid #021a33;
    background: linear-gradient(to bottom right, #0b3a69, #021a33);
}

/*titulo dos tiles*/
h2{
    font-size: 1.5em;
}

/*descrição do valor*/
h3{
    padding-top: 2.2em;
    font-size: 2em;
}

/*valores*/
h4{
    font-size: 3em;
    font-weight: bold;
    padding: 0.2em;
}

/*complemento*/
h5{
    font-size: 1em;
}

/*container "Mais vendidos deste mês"*/
table{
    margin-top: 2em;
    width: 100%;
}
td{
    padding: 1em;
    font-size: 20px;
    border-bottom: 1px solid;

}
td:first-child {
    text-align: left;
    width: 80%;
}

td:last-child {
    text-align: right; 
    width: 20%;
}

/*indices*/
.divIndices{
    display: flex;
}

.h2VendasDesc{
    padding-top: 1.5em;
    font-weight: bold;
}
.contVendas{
    display: flex;
}
.listaPais{
    padding-left: 2em;
    font-size: 1em;
}